# Ignore Play! working directory #
bin/
/db
.eclipse
.vscode/
/lib/
/public/
/logs/
/modules
/project/project
/project/target
/target
/utils/target
tmp/
test-result
server.pid
*.iml
*.eml
/dist/
.idea
.cache
.cache-main
.cache-tests
.settings/
.project
.tmpBin/
.classpath
/web/node_modules
/web/typings
/web/specs
/src/main/public/js/*.js
/src/main/public/js/*.js.map
